<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
    <h1>Home</h1>
    <p id="role">Welcome, <%= user.username %></p>
    <a href=' '>profile</a>
    <a href=' '>reimbursements</a>
    <% if(user.role === 'admin' || user.role === 'financial manager') { %> 
    <a href=' '>users</a>
    <% }  %> 
    <a href=' '>logout</a>
  
</body>
</html>  