<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
    <h1>Reimbursement by Status</h1>
    <div id="nav">
        <a href=' ' id="profile">Profile</a>
    </div>
    <ul id="reimStatusData">
    </ul>
    <h2 id="tester"><h2>
    <script src="/reimByStatus.js" type="text/javascript"></script>
    <script src="/profile.js" type="text/javascript"></script>
</body>   
</html>