<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
    <h1>Users</h1>
    <div id="nav">
        <a href=' '>Profile</a>
        <a href='/reimbursements'>Reimbursements</a>
        <% if(user.role === 'admin' || user.role === 'financial manager') { %> 
        <a href='/users'>Users</a>
        <% }  %> 
        <a href=' '>Logout</a>
    </div>
    <ul>
        <% for (const user in users) { %>
        <li><%= user %> : <%= users[user].username %></li>    
        <% } %>
    </ul>
  
</body>
</html>